@import "_reset.scss";
@import "_variables.scss";

@mixin shadow() {
  box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

@mixin shadow2() {
  box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(109, 109, 109, 0.56), 0 0 0 1px rgba(56, 56, 56, 0.3);
}

@mixin roundPart($withPadding, $isLast) {
  border-radius: 10px;
  background-color: $main-background;
  margin-bottom: $gutter;

  @if $withPadding {
    padding: $gutter;
  } @else {
    overflow: hidden;
  }

  @if $isLast {
    margin-bottom: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;

}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-weight: normal;
  color: $font-color-main;
  background-color: $secondary-background;
}

.header {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  color: white;
  background-color: $main-color;
}

.container {
  padding: 2rem 0;
  margin: 0 auto;
  min-width: 400px;
  max-width: 70%;
}

.text-center {
  text-align: center;
}

.location {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  @include roundPart(true, false);
}


.dropdown {
  position: relative;

  &-preloader {
    position: absolute;
    bottom: 0;
    right: 0;
  }


  &__input {
    max-width: 100%;
    padding: 0.25rem 1.2rem;
    //border-radius: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $main-color-muted;
    font-size: 1.5rem;
    color: $main-color-muted;
    text-align: center;
    outline:none;

    &:focus {
      //border: 1px solid #007bff;
      color: $main-color;
      border-bottom: 2px solid $main-color;
      outline: none;
    }

  }

  &__list {
    @include shadow2();
    display: none;
    position: absolute;
    width: 100%;
    border-radius: $radius;
    margin-top: 10px;
    background-color: $menu-color;
    overflow: auto;
    //max-height: 200px;
    &.active {
      display: block;
    }
  }

  &__item {
    padding: 0.35rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: $main-color;
    }
  }
}

.forecast {
  @include roundPart(false, false);
}

.forecast__week {
  display: flex;
  justify-content: space-between;
  flex-shrink: revert;
  overflow-x: auto;
}

.forecast__item {
  display: flex;
  flex-wrap: nowrap;
  min-width: 122px;
  width: 100%;
  padding: $gutter;
  text-align: center;
  background-color: $light-gray;
  border-bottom: 1px solid $border-color;
  cursor: pointer;

  .icon_wrap {
    width: 25px;
  }

  &.forecast__item_header {
    font-size: 1.1rem;
    justify-content: center;
    background-color: $dark-gray;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.forecast__content {
  width: 100%;
}

.active {
  .forecast__item {
    background-color: $dark-gray;
    color: black;
    border-bottom: 1px solid transparent;
    &.forecast__item_header {
      background-color: $dark-gray-2;
    }
  }
}

.forecast__day {
  width: 100%;

}

.forecast__details {
  display: flex;
  flex-wrap: nowrap;
  background-color: $light-gray;
}
.forecast__block-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self:center;
  background-color: $light-gray;
  flex-grow: 1;
}

.forecast__block {
  padding: 1rem;

  &-day {
    font-weight: 700;
    font-size: 1.75rem;
  }

  &-date {
    font-size: 1.5rem;
  }

  &-state {
    display: flex;
    justify-content: center;
    align-content: center;

    .icon_wrap {
      color: black;
      margin-left: 2rem;
      font-size: 5rem;
      height: 80px;
      line-height: 4rem;
      height: 100%;
    }
  }

  &-current_temp {
    text-align: center;
    align-self: center;
    font-size: 2rem;

    font-weight: 300;
  }
}

.notes {
  @include roundPart(false, true);
  display: flex;
  height: 30vh;
  background-color: $light-gray;
  &__sidebar {
    overflow: auto;
    //background-color: #dc3545;
    width: 40%;
    //border-right: 1px solid transparent;
  }

  &__content {
    width: 60%;
    border-left: 1px solid $border-color;
  }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    width: 100%;

    &.active {
      background-color: $dark-gray-2;
      color: white;

      &:hover {

      }

      .icon_wrap {
        color: white;
        &:hover {
          color: black;
        }
      }
    }

    &-text {
      width: 95%;
      overflow: hidden;
    }
    &:hover {
      background-color: $dark-gray;
    }
    .icon_wrap {
      color: $dark-gray-2;
      &:hover {
        color: black;
      }
    }

    &-container {
      padding: 0;
      display:flex;
    }

    &-input {
      resize: none;
      border: none;
      font-size: 1.25rem;
      width: 80%;
      padding: 0.5rem;
    }

    &-button {
      width: 20%;
      color: $light-gray;
      background-color: $main-color;
      border: none;
      cursor: pointer;
      //text-transform: uppercase;
      font-weight: 300;
      font-size: 1.25rem;

      &:hover {
        color: white;
        background-color: $main-color-muted;
      }
    }

    &-item {

    }
  }

  &__text {
    padding: 0.5rem;
    background-color: $dark-gray;
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
  }

  &__text-input {
    padding: 0.5rem;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    resize: none;
    outline: none;

  }
}

.notes__text-info {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: $font-color-muted;
  background-color: $light-gray;
  width: 100%;
  height: 100%;
}

.preloader {
  @include roundPart(false, false);
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

@import "_media.scss";